.array-container {
  /* position: absolute; */
  left: 100px;
  top: 50px;
}

.array-bar {
  width: 3px;
  background-color: turquoise;
  display: inline-block;
  margin: 10px 1px;
  float: left;
}

.array-body {
  float: right;
  display: inline-block;
  padding-top: 50px;
  padding-right: 100px;
}
